# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.GPU Skinning Demo.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\liminghao\Desktop\GPU Skinning Demo\.idea\.idea.GPU Skinning Demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
